body{
    background-color: green;
}

h1{
    font-size:60px;
}

.parrafo1{
    color: white;
    font-style: italic;
}

.parrafo2{
    color:rgb(212, 212, 129);
}

.parrafo3{
    color:orange;
}

.parrafo4{
    color:red;
}